#app {
  background: #f1f1f1;
  display: grid;  
  grid-template-areas: 
      "cabecalho"
      "conteudo"
      "rodape";
  grid-template-columns: auto;
  grid-template-rows: 50px auto auto;
}

#cabecalho {
  background: #00cc99;
  grid-area: cabecalho;
}

#lista {
  background: #ff8080;
  grid-area: conteudo;
}

#informacoes {
  background: #0099ff;
  grid-area: rodape;
}