#app {
  background: white;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5000px;
}

/*Principais*/
#cabecalho {
  background: gray;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#conteudo {
  background: white;
  width: 100%;
  height: 4800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#rodape {
  background: gray;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*cabecalho*/
#titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 100%;
}
#pesquisa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
}
h1 {
  font-size: 60px;
  color: white;
}

/*conteudo*/
#montadoras {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.carros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.carro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}